.Dashboard {
  height: 100%;
}
.dashcontent {
  margin-left: 210px;
  width: 100%;
}
.dashcontent h4 {
  color: purple;
}
.chart {
  display: flex;
  margin-top: 20px;
}
.graph {
  margin-left: 20px;
}

.earning {
  background-color: violet;
  margin-bottom: 20px;
  width: 250px;
  height: 150px;
  padding: 20px;
  color: white;
}
.earning h3 {
  color: green;
  margin: 0 auto;
}
.earning h6,
h5 {
  margin: 0 auto;
}
