.Navbar {
  width: 100%;
  height: 50px;
  background-color: #5c5b5b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sidebar-button {
  visibility: hidden;
}
.Navbar img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: solid 2px white;
}
.navlinks ul {
  margin: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}
.navlinks li {
  padding: 10px;
}

.navlinks a {
  color: white;

  font-size: 1.2rem;
}
.navlinks button {
  border-style: none;
  color: white;
  background-color: #5c5b5b;
  font-weight: bold;
  letter-spacing: 2px;
}
/* .Logo {
  color: white;
  padding: 10px;
} */
.Logo img {
  border-style: none;
  height: 55px;
  padding: 5px;
}
.sidebar-hidden {
  display: none;
}
@media screen and (max-width: 600px) {
  .navlinks a {
    font-size: 1rem;
  }
  .navlinks button {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .sidebar-button {
    visibility: initial;
    background-color: rgb(208, 33, 224);
    border-style: none;
  }
  .sidebar-hidden {
    display: none;
  }
  .nav-sidebar {
    background-color: #5c5b5b;
    position: fixed;
    left: 0;
    top: 50px;
    opacity: 0.8;
  }

  .nav-sidebar ul {
    list-style: none;
    line-height: 60px;
  }
  .nav-sidebar a {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .nav-sidebar a:active {
    color: rgb(247, 165, 250);
  }
}
